In [9]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

## Create nodes dataframe

In [ ]:
# Load data with format (node INDEX: IP INTERFACES)
data = pd.read_csv('kapar-midar-iff.nodes.txt',delimiter='\n', comment='#', header=None, names=['nodes'], encoding='ISO-8859-1')

# INDEX: IP INTERFACES
data['nodes'] = data.nodes.str[5:]

# INDEX | IP INTERFACES
data['index'], data['ip'] = data.nodes.str.split(':').str

# Convert IP interfaces from string to list
data['ip'] = data['ip'].str[2:-1]
data['ip'] = data['ip'].str.split(' ')

nodes = data[['index', 'ip']]
nodes = nodes.set_index('index')

In [ ]:
nodes.head(10)

In [25]:
nodes.to_csv('nodes.csv', sep=',', encoding='ISO-8859-1')

In [34]:
import time
start = time.time()

nodes = pd.read_csv('nodes.csv', sep=',', encoding='ISO-8859-1')
nodes['ip'] = nodes['ip'].apply(lambda x: eval(x))

end = time.time()
print(end - start)

## Create links dataframe

In [4]:
# Remove IP address for nodes where interface is specified
def keep_nodes(x):
    nodes_list = []
    for n in x:
        nodes_list.append(n.split(':')[0])
    return nodes_list

In [5]:
# Load data with format (link INDEX: IP INTERFACES)
data = pd.read_csv('kapar-midar-iff.links.txt',delimiter='\n', comment='#', header=None, names=['links'], encoding='ISO-8859-1')

# INDEX: IP INTERFACES
data['links'] = data.links.str[5:]

# INDEX | IP INTERFACES
data['index'], data['links'] = data['links'].str.split(':',1).str
data['links'] = data['links'].str[2:-1]

# INDEX: [IP INTERFACES]
data['links'] = data['links'].str.split(' ')
data['links'] = data['links'].apply(lambda x: keep_nodes(x))

links = data[['index', 'links']]
links = data.set_index('index')

In [6]:
links.head(10)

                                                   links
index
L2     [N19943, N259125, N3071997, N10836, N26186, N2...
L3     [N259125, N191763, N286513, N132388, N308194, ...
L4         [N259125, N249665, N313955, N313955, N192431]
L5     [N111930, N332377, N1921700, N1921701, N192170...
L6     [N165312, N165312, N268658, N132226, N332377, ...
L7     [N255629, N332377, N255629, N9194, N1319060, N...
L8     [N231376, N332377, N305589, N147966, N260350, ...
L9     [N260350, N156862, N304749, N332377, N237172, ...
L11    [N332377, N67904, N236660, N325509, N256412, N...
L12    [N4108, N111930, N1921706, N288969, N247665, N...

In [7]:
links.tail(10)

                          links
index
L77611856   [N45428, N74514886]
L77611857   [N45428, N74514887]
L77611858   [N45428, N74514888]
L77611859   [N45428, N74514889]
L77611860   [N45428, N74514890]
L77611861   [N45428, N74514891]
L77611862  [N297106, N74514892]
L77611863  [N297106, N74514893]
L77611864  [N297106, N74514894]
L77611865  [N195630, N74514895]

## Add AS number to nodes

In [8]:
# Load data with format (node.AS INDEX AS TYPE)
data = pd.read_csv('kapar-midar-iff.nodes.as.txt',delimiter='\n', comment='#', header=None, names=['nodes'], encoding='ISO-8859-1')

# INDEX AS TYPE
data['nodes'] = data.nodes.apply(lambda x: x[8:])

# INDEX | AS
data['node_index'], data['AS_number'] = data.nodes.str.split(' ').str

nodes_as = data[['node_index','AS_number']]
nodes_as = nodes_as.set_index(['node_index'])

In [9]:
# Add AS column to nodes dataframe
nodes = nodes.join(nodes_as)

In [10]:
nodes.head(10)

                                                      ip AS_number
index
N1     [59.152.193.141, 59.152.196.33, 59.152.200.125...      9381
N3     [59.152.193.69, 59.152.193.73, 59.152.193.85, ...      9381
N4     [42.61.0.89, 42.61.1.13, 42.61.1.57, 42.61.1.2...      3758
N6     [181.129.43.145, 181.143.0.49, 181.143.2.225, ...     13489
N7     [179.27.16.97, 179.27.16.153, 179.27.16.189, 1...      6057
N8     [36.66.32.81, 36.66.32.89, 36.66.32.113, 36.66...     17974
N9     [42.61.0.173, 42.61.0.217, 42.61.1.105, 42.61....      3758
N10    [59.152.196.133, 59.152.196.205, 59.152.196.22...      9381
N11    [179.27.0.37, 179.27.0.185, 179.27.0.229, 179....      6057
N12    [5.2.116.0, 5.2.116.8, 5.2.116.10, 5.2.116.18,...     31655

## Add geo data to nodes

In [ ]:
# Load data with format (node.geo INDEX: COUNTRY LATITUDE LONGITUDE)
data = pd.read_csv('kapar-midar-iff.nodes.geo.txt',delimiter='\n', comment='#', header=None, names=['nodes'], encoding='ISO-8859-1')

# INDEX: COUNTRY LATITUDE LONGITUDE
data['nodes'] = data.nodes.str[9:-1]

# INDEX: | COUNTRY | LATITUDE | LONGITUDE
data['node_index'], data['continent'], data['country'], data['region'], data['city'], data['latitude'], data['longitude'],_,_,_ = data.nodes.str.split('\t').str

# INDEX | COUNTRY | LATITUDE | LONGITUDE
data['node_index'] = data['node_index'].str[:-1]

geo = data[['node_index','country','latitude','longitude']]
geo = geo.set_index('node_index')

In [ ]:
nodes = nodes.join(geo)

In [ ]:
nodes.head(10)

## Observations

In [ ]:
print('Number of nodes : {}'.format(len(nodes)))
print('Number of nodes without AS : {}'.format(len(nodes[nodes['AS_number'].isna()])))
print('Number of nodes without geo data : {}'.format(len(nodes[nodes['country'].isna()])))

In [ ]:
temp = nodes['ip'].apply(lambda x: len(x))
temp.describe().apply(lambda x: format(x, 'f'))

In [ ]:
plt.hist(temp, bins = temp.max())
plt.xlim(0,temp.max())
plt.yscale('log')

## Create links for AS dataframe

In [ ]:
links_nodes = links.copy()

In [ ]:
def apply_list(x):
    as_set = set()
    for elem in x:
        as_set.add(dict_nodes_to_as.get(elem, np.nan))
    return as_set

In [ ]:
links_nodes['links'] = links_nodes['links'].apply(lambda x: apply_list(x))

In [ ]:
links_nodes

### Save new dataframe in files

In [ ]:
nodes.to_csv('nodes.csv', sep=',', encoding='ISO-8859-1')
links.to_csv('links.csv', sep=',', encoding='ISO-8859-1')
links_nodes.to_csv('links_as.csv', sep=',', encoding='ISO-8859-1')

In [42]:
links_as = pd.read_csv('links_as.csv',delimiter=',',encoding='ISO-8859-1')

In [43]:
links_as['links'] = links_as['links'].str.replace('nan, ','')
links_as['links'] = links_as['links'].str.replace(', nan', '')

In [44]:
links_as = links_as[links_as['links'].str.contains(',')]

In [45]:
links_as.set_index('index').to_csv('caida-asn-links.csv', sep=',', encoding='ISO-8859-1')

In [49]:
links_as['links'] = links_as['links'].apply(lambda x: eval(x))

In [52]:
links_as = links_as.set_index('index')

In [56]:
nodes_set = set()
for l in links_as['links']:
    for asn in l:
        nodes_set.add(asn)
nodes_set

{'53612',
 '203410',
 '22319',
 '202789',
 '1606',
 '28775',
 '17019',
 '25629',
 '62903',
 '49719',
 '36019',
 '30678',
 '42729',
 '36924',
 '1746',
 '197848',
 '201782',
 '60781',
 '39311',
 '46575',
 '16010',
 '37296',
 '40173',
 '39376',
 '29208',
 '200687',
 '13372',
 '18746',
 '55775',
 '293',
 '5474',
 '44616',
 '46294',
 '55481',
 '57339',
 '327756',
 '22042',
 '202629',
 '203386',
 '20655',
 '55677',
 '201377',
 '44396',
 '57275',
 '40732',
 '206315',
 '8894',
 '40485',
 '263108',
 '54393',
 '196870',
 '394618',
 '33268',
 '27334',
 '19963',
 '50910',
 '201347',
 '53010',
 '54062',
 '49259',
 '265462',
 '33169',
 '40076',
 '14909',
 '200719',
 '9911',
 '41582',
 '12829',
 '49369',
 '39098',
 '3252',
 '18295',
 '39134',
 '52875',
 '48137',
 '8569',
 '133982',
 '52486',
 '19744',
 '200171',
 '264656',
 '16769',
 '39956',
 '56094',
 '48464',
 '49529',
 '45935',
 '11069',
 '31720',
 '394277',
 '41390',
 '52418',
 '12705',
 '35124',
 '57671',
 '7477',
 '9756',
 '44136',
 '133716',
 '197405',
 '23427',
 '48911',
 '47335',
 '8532',
 '57548',
 '197611',
 '21000',
 '4906',
 '204274',
 '33046',
 '58337',
 '57814',
 '393543',
 '327926',
 '43602',
 '393827',
 '202796',
 '203123',
 '263438',
 '63278',
 '12762',
 '393323',
 '393743',
 '12980',
 '43531',
 '133611',
 '135091',
 '50235',
 '56592',
 '35146',
 '15351',
 '39343',
 '16052',
 '37403',
 '263703',
 '27181',
 '265131',
 '62261',
 '62947',
 '263937',
 '39290',
 '21918',
 '20861',
 '51253',
 '56333',
 '262311',
 '197194',
 '55318',
 '6855',
 '199936',
 '134672',
 '23653',
 '24376',
 '132376',
 '9689',
 '394178',
 '263941',
 '201545',
 '49144',
 '47468',
 '52176',
 '52002',
 '46968',
 '197135',
 '2665',
 '21478',
 '48961',
 '24061',
 '11152',
 '62710',
 '16316',
 '46209',
 '14065',
 '197617',
 '36026',
 '51335',
 '199483',
 '198664',
 '202543',
 '394990',
 '199711',
 '14032',
 '54798',
 '54834',
 '17477',
 '36199',
 '58930',
 '34457',
 '60168',
 '39240',
 '43564',
 '56784',
 '8446',
 '15274',
 '134285',
 '43768',
 '41108',
 '50087',
 '60181',
 '35126',
 '24143',
 '55575',
 '55586',
 '32762',
 '17969',
 '46839',
 '395576',
 '37433',
 '31029',
 '33648',
 '262499',
 '47104',
 '1702',
 '47621',
 '33996',
 '37688',
 '42287',
 '8941',
 '7165',
 '57395',
 '55277',
 '43042',
 '35030',
 '15559',
 '62101',
 '44127',
 '51093',
 '263297',
 '62430',
 '42659',
 '59268',
 '35409',
 '393416',
 '48541',
 '61376',
 '196817',
 '62984',
 '25905',
 '17709',
 '9688',
 '34190',
 '797',
 '48827',
 '52565',
 '9559',
 '201400',
 '263373',
 '393304',
 '32216',
 '21704',
 '393692',
 '30639',
 '23383',
 '396245',
 '59817',
 '200906',
 '264401',
 '36334',
 '33356',
 '393906',
 '55154',
 '26723',
 '62292',
 '266195',
 '21409',
 '18164',
 '132252',
 '24513',
 '46552',
 '134428',
 '28953',
 '39957',
 '135137',
 '9723',
 '132206',
 '34694',
 '58551',
 '24015',
 '28762',
 '24840',
 '60973',
 '44660',
 '42677',
 '200060',
 '204126',
 '42695',
 '51939',
 '32501',
 '27506',
 '59113',
 '202219',
 '199333',
 '59717',
 '56531',
 '29479',
 '41046',
 '59784',
 '393469',
 '264557',
 '13272',
 '7087',
 '48171',
 '4764',
 '27474',
 '3901',
 '7642',
 '265240',
 '45578',
 '34134',
 '43756',
 '28757',
 '18902',
 '19363',
 '4642',
 '32771',
 '20902',
 '29500',
 '263468',
 '30093',
 '197534',
 '64310',
 '264876',
 '15846',
 '197828',
 '202133',
 '205805',
 '25967',
 '25907',
 '136733',
 '3388',
 '51569',
 '51688',
 '30929',
 '133930',
 '52392',
 '198210',
 '49762',
 '47923',
 '8151',
 '131597',
 '262988',
 '34695',
 '61706',
 '205815',
 '48224',
 '51179',
 '44411',
 '6448',
 '62028',
 '48278',
 '197798',
 '26701',
 '198551',
 '51153',
 '56981',
 '29576',
 '264315',
 '135806',
 '35266',
 '35086',
 '49210',
 '201641',
 '52578',
 '40920',
 '132867',
 '58324',
 '5779',
 '11710',
 '62565',
 '26320',
 '14155',
 '25004',
 '20249',
 '57407',
 '32249',
 '53685',
 '47364',
 '56275',
 '50012',
 '393564',
 '19366',
 '33790',
 '40928',
 '15113',
 '42266',
 '25966',
 '202555',
 '26311',
 '51297',
 '54445',
 '65573',
 '26503',
 '134659',
 '51863',
 '201126',
 '23832',
 '61483',
 '30262',
 '134801',
 '12561',
 '199754',
 '8449',
 '53309',
 '28080',
 '30410',
 '60017',
 '47281',
 '4645',
 '36589',
 '57869',
 '35873',
 '25115',
 '8484',
 '47359',
 '30610',
 '132087',
 '38082',
 '61752',
 '13893',
 '42854',
 '31598',
 '45960',
 '16005',
 '24528',
 '63336',
 '34098',
 '5766',
 '32928',
 '7545',
 '135880',
 '34407',
 '34415',
 '201927',
 '262281',
 '42949',
 '11023',
 '38126',
 '202627',
 '18000',
 '394419',
 '200183',
 '62942',
 '264357',
 '31659',
 '204202',
 '27183',
 '199649',
 '19861',
 '26889',
 '46417',
 '62651',
 '51931',
 '54249',
 '61109',
 '40991',
 '133872',
 '53951',
 '61574',
 '29118',
 '34123',
 '28999',
 '134622',
 '25145',
 '28310',
 '12104',
 '48038',
 '6879',
 '12244',
 '30607',
 '7602',
 '36366',
 '46761',
 '59049',
 '16669',
 '20002',
 '22877',
 '55623',
 '8774',
 '3278',
 '54115',
 '52888',
 '203242',
 '52544',
 '8542',
 '267456',
 '49993',
 '264213',
 '44579',
 '55414',
 '135671',
 '24222',
 '41336',
 '8608',
 '21334',
 '134109',
 '40750',
 '54118',
 '264432',
 '133686',
 '29992',
 '265467',
 '39350',
 '396202',
 '40887',
 '264739',
 '198079',
 '39604',
 '27210',
 '203890',
 '21023',
 '46420',
 '35532',
 '264216',
 '9671',
 '59664',
 '47',
 '6547',
 '134255',
 '57487',
 '20340',
 '41644',
 '40777',
 '45278',
 '12540',
 '60953',
 '61035',
 '23516',
 '134320',
 '264977',
 '40179',
 '21798',
 '395594',
 '61729',
 '14648',
 '49381',
 '49914',
 '51825',
 '14400',
 '41729',
 '5648',
 '198381',
 '198613',
 '48993',
 '35017',
 '60975',
 '38340',
 '33164',
 '20965',
 '35571',
 '198683',
 '3284',
 '40193',
 '264340',
 '16935',
 '51069',
 '55000',
 '20921',
 '41627',
 '40390',
 '18488',
 '15934',
 '7250',
 '45931',
 '32746',
 '33681',
 '36295',
 '44709',
 '812',
 '23880',
 '59766',
 '28409',
 '33029',
 '34836',
 '61114',
 '49408',
 '32136',
 '24541',
 '264577',
 '55756',
 '197718',
 '262832',
 '23171',
 '41116',
 '60799',
 '52978',
 '53814',
 '19006',
 '198915',
 '43364',
 '394265',
 '63876',
 '61797',
 '198627',
 '393364',
 '263364',
 '48524',
 '36077',
 '16433',
 '7859',
 '31702',
 '26803',
 '197620',
 '46047',
 '265492',
 '41077',
 '21473',
 '23648',
 '35179',
 '25970',
 '60785',
 '200653',
 '31841',
 '54189',
 '40596',
 '12903',
 '202122',
 '18228',
 '32622',
 '41316',
 '262480',
 '202792',
 '262826',
 '49920',
 '28009',
 '31133',
 '196968',
 '19372',
 '203186',
 '10771',
 '52548',
 '30452',
 '19354',
 '3795',
 '54578',
 '32790',
 '45538',
 '48949',
 '32366',
 '205677',
 '40876',
 '48030',
 '203640',
 '135528',
 '395291',
 '394252',
 '50653',
 '2722',
 '59452',
 '22314',
 '33063',
 '57522',
 '36242',
 '43876',
 '49117',
 '203285',
 '57715',
 '199173',
 '38543',
 '41369',
 '61947',
 '35618',
 '30823',
 '49439',
 '57774',
 '30593',
 '19752',
 '48809',
 '21134',
 '262961',
 '59089',
 '62762',
 '34046',
 '134088',
 '197114',
 '58196',
 '54423',
 '44572',
 '15555',
 '17651',
 '14707',
 '133726',
 '1996',
 '133105',
 '19856',
 '2764',
 '25960',
 '12180',
 '23140',
 '26811',
 '54577',
 '50935',
 '327906',
 '394738',
 '1326',
 '43310',
 '12500',
 '34654',
 '11659',
 '394552',
 '15349',
 '263112',
 '55343',
 '54349',
 '39031',
 '32468',
 '35724',
 '36029',
 '46056',
 '41974',
 '14049',
 '136079',
 '393510',
 '263613',
 '202577',
 '201835',
 '15247',
 '39726',
 '134419',
 '45815',
 '394017',
 '21750',
 '200033',
 '394480',
 '62392',
 '264543',
 '25516',
 '393766',
 '1881',
 '28243',
 '14274',
 '56707',
 '21669',
 '41769',
 '31589',
 '55355',
 '37101',
 '36247',
 '132360',
 '3479',
 '25133',
 '20018',
 '31765',
 '199578',
 '36622',
 '63019',
 '14014',
 '133701',
 '64873',
 '10386',
 '50273',
 '131232',
 '23865',
 '57658',
 '53948',
 '16407',
 '32141',
 '2734',
 '38156',
 '133980',
 '49576',
 '201695',
 '17603',
 '21502',
 '52217',
 '25922',
 '201496',
 '63548',
 '12551',
 '43754',
 '49147',
 '26939',
 '44062',
 '53781',
 '26199',
 '34960',
 '32663',
 '49377',
 '39279',
 '202011',
 '136013',
 '395574',
 '52039',
 '57727',
 '21373',
 '393225',
 '31043',
 '15769',
 '42317',
 '47557',
 '199842',
 '40464',
 '30004',
 '1641',
 '38886',
 '20662',
 '52177',
 '43314',
 '10325',
 '63000',
 '58780',
 '260',
 '62361',
 '57322',
 '13743',
 '11340',
 '16128',
 '393518',
 '15615',
 '36080',
 '50992',
 '30791',
 '263014',
 '394354',
 '48241',
 '16349',
 '27362',
 '7829',
 '33280',
 '8651',
 '49412',
 '55515',
 '13077',
 '198597',
 '33333',
 '50787',
 '133193',
 '14421',
 '198554',
 '29473',
 '14626',
 '17339',
 '48362',
 '46447',
 '63399',
 '38742',
 '29827',
 '21984',
 '6640',
 '18200',
 '205656',
 '17445',
 '56409',
 '12175',
 '58067',
 '14588',
 '41686',
 '135068',
 '19636',
 '47406',
 '36380',
 '47521',
 '23357',
 '34885',
 '10847',
 '29397',
 '48187',
 '57695',
 '132877',
 '25560',
 '32996',
 '17756',
 '58592',
 '263115',
 '3657',
 '42604',
 '203318',
 '37414',
 '46660',
 '28349',
 '32096',
 '263579',
 '202700',
 '196713',
 '29870',
 '47558',
 '20763',
 '22827',
 '263428',
 '27',
 '33844',
 '31044',
 '35377',
 '18771',
 '53859',
 '59905',
 '51444',
 '396046',
 '23667',
 '34795',
 '6336',
 '29389',
 '2648',
 '20035',
 '202596',
 '49180',
 '9463',
 '63368',
 '55852',
 '9622',
 '51343',
 '15762',
 '55392',
 '131460',
 '199509',
 '50584',
 '15378',
 '44801',
 '22069',
 '13190',
 '30928',
 '28285',
 '264896',
 '22541',
 '14701',
 '17827',
 '4721',
 '35593',
 '43256',
 '395021',
 '43581',
 '202537',
 '57498',
 '44233',
 '394409',
 '395387',
 '19350',
 '38097',
 '30613',
 '59352',
 '393456',
 '28509',
 '196824',
 '50530',
 '39114',
 '198522',
 '13406',
 '41381',
 '4182',
 '27514',
 '44932',
 '5419',
 '48066',
 '48207',
 '15267',
 '48917',
 '9916',
 '394078',
 '202568',
 '34397',
 '59984',
 '58155',
 '33414',
 '327880',
 '201685',
 '12979',
 '29554',
 '395774',
 '51285',
 '55071',
 '205849',
 '201976',
 '394170',
 '37579',
 '327978',
 '11336',
 '20000',
 '56237',
 '29094',
 '16150',
 '60672',
 '63503',
 '33564',
 '57495',
 '46063',
 '60593',
 '49736',
 '38152',
 '35461',
 '23673',
 '60149',
 '32959',
 '49669',
 '7194',
 '13000',
 '51645',
 '24989',
 '15265',
 '39301',
 '7294',
 '43106',
 '34485',
 '33455',
 '59256',
 '50457',
 '18034',
 '19422',
 '56109',
 '54596',
 '12861',
 '29436',
 ...}

In [57]:
len(nodes_set)

51764